@keyframes modalEnter
{
    from {-webkit-transform: translate3d(0, -1400px, 0);}
    to { -webkit-transform: translate3d(0, 0, 0);}
}

@keyframes modalLeave
{
    from {-webkit-transform: translate3d(0, 0, 0);}
    to { -webkit-transform: translate3d(0, -1400px, 0);}
}
